{% set item = data['items']['annafoody1']['products'][0] %}

<!DOCTYPE html>
<html lang="ru">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Тренинг</title>
	<link rel="stylesheet" href="css/style.min.css">
</head>

<body>
	<!-- HEADER -->
	<header class="header">
		<div class="header__wrap">
			<div class="layout-center-wrapper">
				<div class="header__inner">
					<div class="header__left">
						<!-- <p class="header__author">Курс Юлии Климец</p> -->
						<h1 class="header__title">Женский Онлайн Бизнес Марафон "ЖЕНЩИНЫ, МЕНЯЮЩИЕ МИР"</h1>
						<p class="header__slogan">Узнай 7 рецептов построения успешного бизнеса  в период глобальных перемен</p>
						<p class="header__date">{{data["event"]["date"]}}</p>
						<button type="button" class="template-btn" id="headerToPaymentBtn">
							<span>Принять участие</span>
						</button>
						{% if data['admin'] %}
						<!-- EDIT TEMPLATE -->
						<br><br><a href="/manager/info"><button class="template-btn" type="button" id="" onclick="">
								<span>Изменить описание</span>
							</button></a>
						<!-- EDIT TEMPLATE -->
						{% end %}
					</div>
					<div class="header__right">
						<img src="img/header-intro.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<div style="background-image: url(img/header-bg.jpg);" class="header__bg-layout">
		</div>
	</header>

	<main>
		<!-- AUDIENCE -->
		<div class="audience">
			<div class="layout-center-wrapper">
				<h3 class="audience__title training-title">Этот форум для вас если:</h3>
				<ul class="audience__list">
					<li class="audience__item">
						<div class="audience__num"><span>1</span></div>
						<p class="audience__text">Вы ощущаете растерянность во время кризиса, потому что у вас нет четких методов работы, а наставник вам не помогает</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>2</span></div>
						<p class="audience__text">Вы понимаете, что ваши конкуренты уже автоматизировали свой бизнес, а вы все еще не знаете с чего начать</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>3</span></div>
						<p class="audience__text">Вы видите, что мир меняется и чувствуете, что старые правила не работают</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>4</span></div>
						<p class="audience__text">Вы осознаете, что “кризис-это возможность нового”, но вам не хватает энергии и ресурсов на осуществление своих планов</p>
					</li>
					<li class="audience__item">
						<div class="audience__num"><span>5</span></div>
						<p class="audience__text">Вы хотите найти новое окружение, которое помогает и вдохновляет вас</p>
					</li>
				</ul>
				<div class="audience__bottom-title">Если это так - присоединяйся к 2-ух дневному марафону, где наши спикеры поделятся рецептами, которые привели их к результату</div>
			</div>
		</div>

		<!-- KNOWLEDGE -->
		<div class="knowledge">
			<div class="layout-center-wrapper">
				<h3 class="knowledge__title training-title">По окончанию марафона вы</h3>
				<div class="knowledge__inner">
					<ul class="knowledge__list">
						<li class="knowledge__item">
							<div class="knowledge__num"><span>1</span></div>
							<p class="knowledge__text">Поймете, что необходимо для того, чтобы чувствовать себя уверенным и быть на плаву в ритме перемен</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>2</span></div>
							<p class="knowledge__text">Получите техники для достижения ресурсного состояния</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>3</span></div>
							<p class="knowledge__text">Проработаете ежедневные привычки, которые блокируют ваше финансовое изобилие</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>4</span></div>
							<p class="knowledge__text">Поймете как создавать личный бренд, не боясь стать известными и популярными, а при этом ещё масштабировать свой бизнес</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>5</span></div>
							<p class="knowledge__text">Получите четкие методы работы для автоматизации вашего бизнеса в социальных сетях</p>
						</li>
						<li class="knowledge__item">
							<div class="knowledge__num"><span>6</span></div>
							<p class="knowledge__text">Главное, что вы зарядитесь и вдохновитесь живыми историями от девушек</p>
						</li>
					</ul>

					<div class="knowledge__img-wrap">
						<img src="img/about.png" alt="">
					</div>
				</div>
			</div>
		</div>

		<!-- MIDDLE TITLE -->
		<div class="middle-title" style="background-image: url(img/header-bg.jpg);">
			<div class="layout-center-wrapper">
				<div class="middle-title__inner">
					<div>
						<h1 class="middle-title__text">ЖЕНСКИЙ ОНЛАЙН БИЗНЕС МАРАФОН "ЖЕНЩИНЫ, МЕНЯЮЩИЕ МИР"</h1>
					</div>
					<button type="button" class="template-btn" id="middleToPaymentBtn">
						<span>Принять участие</span>
					</button>
				</div>
			</div>
		</div>

		<!-- SPEAKERS  -->
		<div class="speakers">
			<div class="layout-center-wrapper">
				<h2 class="speakers__title">Спикеры марафона</h2>
				<ul class="speakers__list">
					<li class="speakers__item" style="background-image: url('img/zhabina.jpg')">
						<div class="speakers__hover">
							<div class="speakers__name">
								Ламара Жабина
							</div>
							<div class="speakers__about">
								lamarazhabina
							</div>
							<div class="speakers__description">
								Психолог по образованию. Прошла большую школу линейного бизнеса. В кризис вместа с мужем стали основателями первой блокчейн платформы для ЗОЖ товаров.
							</div>
						</div>
					</li>
					<li class="speakers__item" style="background-image: url('img/aronov.jpg')">
						<div class="speakers__hover">
							<div class="speakers__name">
								Елена Габриэлла Аронов 
							</div>
							<div class="speakers__about">
								gabriellaaronov
							</div>
							<div class="speakers__description">
								Получила классическое образование, но именно в период кризиса смогла выплатить личный долг $1,8 млн долг и обучит вас техникам, которые помогли ей достичь этой цели
							</div>
						</div>
					</li>
					<li class="speakers__item" style="background-image: url('img/milusheva.jpg')">
						<div class="speakers__hover">
							<div class="speakers__name">
								Илона Милушева 
							</div>
							<div class="speakers__about">
								ilona_milusheva
							</div>
							<div class="speakers__description">
								Во время декрета осознала, что на работу выходить не хочу, и заработала в МЛМ
							</div>
						</div>
					</li>
					<li class="speakers__item" style="background-image: url('img/demidova.jpg')">
						<div class="speakers__hover">
							<div class="speakers__name">
								Юлия Демидова 
							</div>
							<div class="speakers__about">
								demidovatop
							</div>
							<div class="speakers__description">
								Дошла до первого чека в прошлой компании и в кризис стартовала в новом проекте, выйдя в первый месяц работы на стабильный оборот в 100 000$
							</div>
						</div>
					</li>
					<li class="speakers__item" style="background-image: url('img/samotoi.jpg')">
						<div class="speakers__hover">
							<div class="speakers__name">
								Олеся Самотой  
							</div>
							<div class="speakers__about">
								olesiasamotoi
							</div>
							<div class="speakers__description">
								Получив два высших юридических образования, ушла в МЛМ индустрию и сразу заняла топовые позиции
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
	</main>

	<!-- FOOTER -->
	<footer class="footer" style="background-image: url(img/footer-bg.jpg);">
		<div class="layout-center-wrapper">
			<div class="footer__inner">
				<div class="footer__tarif-wrap">
					<h4 class="footer__list-title">Пакет Стандарт 1 день</h4>
					<ul class="footer__list">
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">1 день</p>
						</li>
					</ul>

					<h4 class="footer__list-title">Пакет VIP 2 дня </h4>
					<ul class="footer__list">
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Спикеры на более глубинном уровне проработают запросы VIP участников </p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Получите чеклисты как проработать свой бренд в социальных сетях</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Получите  2 дополнительных тренинга в записи от спикеров</p>
						</li>
						<li class="footer__item">
							<span class="footer__marker"></span>
							<p class="footer__text">Медитация на финансовое изобилие</p>
						</li>
				</div>
				<!-- PAYMENT BLOCK -->
				<div class="payment" id="paymentBlock">
					<div class="payment__header">
							<span class="payment__text">Стоимость пакета Стандарт:</span>
							<span class="payment__amount">{{item['price']}} ₽</span>
						</div>
						<div class="payment__inner">
							<div class="payment__btns-wrap">
								<button class="template-btn" type="button" id="cardBtn">
									<span>Оплатить картой</span>
								</button>
	
								<img src="img/visa-logo.svg" alt="visa">
							</div>
							<div class="payment__btns-wrap">
								<button class="template-btn" type="button" id="ntzdBtn">
									<span>Оплатить в ntz</span>
								</button>
								<img src="img/ntz-logo.svg" alt="visa">
							</div>
						</div>
						<div class="payment__inner"></div>

					<div class="payment__header">
						<span class="payment__text">Стоимость пакета VIP:</span>
						<span class="payment__amount">{{item['price']}} ₽</span>
					</div>

					{% if lead_promo %}
					<div class="payment__inner">
						<div class="payment__btns-wrap">
							<button class="template-btn" type="button" id="cardBtn2">
								<span>Оплатить картой</span>
							</button>

							<img src="img/visa-logo.svg" alt="visa">
						</div>
						<div class="payment__btns-wrap">
							<button class="template-btn" type="button" id="ntzdBtn2">
								<span>Оплатить в ntz</span>
							</button>
							<img src="img/ntz-logo.svg" alt="visa">
						</div>
					</div>

					{% else %}
					<div class="non-ref">
						<p class="non-ref__text">Для совершения покупки Вам необходима реферальная ссылка. Для её
							получения обратитесь к тому, кто Вам посоветовал этот товар или найдите ссылку в инстаграме
							по хештегу
							<a href="https://www.instagram.com/explore/tags/netizensteam/">#netizensteam</a></p>
					</div>
					{% end %}
				</div>
			</div>
		</div>

		<!-- GOODS BLOCK ! IMPORTANT-->
		<input type="hidden" name="item_number" id="{{item['code']}}" class="items_quantity" value=1 min=1 disabled
			data-price="{{item['price']}}" data-old_price="{{item['old_price']}}" data-name="{{item['name']}}"
			data-image="{{item['image']}}">

		<input type="hidden" name="item_number" id="annafoody12_ticket" class="items_quantity2" value=1 min=1 disabled
			data-price="6600" data-old_price="6600" data-name="{{item['name']}}" data-image="{{item['image']}}">
		<!-- GOODS BLOCK ! IMPORTANT-->

		<!-- POLICY BLOCK -->
		<div class="footer__policy">
			<div class="layout-center-wrapper">
				<div class="footer__policy-inner">
					<span class="footer__policy-left">&copy; Official partner of the Netizens ecosystem</span>
					<div class="footer__policy-right">
						<a href="docs/политика конфиденциальности.pdf" class="footer__link" download="">Политика
							конфиденциальности</a>
					</div>
				</div>
			</div>
		</div>

		<div class="form__overlay" id="formOverlay"></div>
		<div class="form__overlay" id="formOverlay2"></div>

		<!-- RUR FORM -->
		<div class="form__wrap" id="paymentFormRUR">
			<form action="#" class="form">
				<span class="form__close-btn" id="closeRurForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userNameFormRUR">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhoneFormRUR">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmailFormRUR">

					<button id="send_rur" class="form__btn template-btn noselect" type="button"
						onclick="addOrder('FormRUR')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>
				</div>
			</form>
		</div>

		<!-- NTZ FORM -->
		<div class="form__wrap" id="paymentFormNTZ">
			<form action="#" class="form">
				<span class="form__close-btn" id="closeNTZForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="login" value="{{lead_login}}" type="text" placeholder="Ваш логин в ntz.team" required
						class="form__field" id="userLoginFormNTZ">

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userNameFormNTZ">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhoneFormNTZ">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmailFormNTZ">

					<button id="send_ntz" class="form__btn template-btn noselect" type="button"
						onclick="addOrder('FormNTZ')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>

					{% if lead_promo %}
					<span class="form__control">Контрольное слово: {{lead_promo}}</span>
					{% end %}
				</div>
			</form>
		</div>

		<!-- RUR FORM -->
		<div class="form__wrap" id="payment2FormRUR">
			<form action="#" class="form">
				<span class="form__close-btn" id="close2RurForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userName2FormRUR">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhone2FormRUR">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmail2FormRUR">

					<button id="send_rur2" class="form__btn template-btn noselect" type="button"
						onclick="addOrder2('FormRUR')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>
				</div>
			</form>
		</div>

		<!-- NTZ FORM -->
		<div class="form__wrap" id="payment2FormNTZ">
			<form action="#" class="form">
				<span class="form__close-btn" id="close2NTZForm"></span>
				<div class="form__inner">
					<h3 class="form__title">купить курс</h3>
					<p class="form__text">Чтобы приобрести курс, заполните все поля</p>

					<input name="login" value="{{lead_login}}" type="text" placeholder="Ваш логин в ntz.team" required
						class="form__field" id="userLogin2FormNTZ">

					<input name="name" value="{{lead_name}}" type="text" placeholder="Имя и Фамилия" required
						class="form__field" id="userName2FormNTZ">
					<input name="phone" value="{{lead_phone}}" type="tel" placeholder="Телефон" class="form__field"
						required id="userPhone2FormNTZ">
					<input name="email" value="{{lead_email}}" type="email" placeholder="E-mail" required
						class="form__field" id="userEmail2FormNTZ">

					<button id="send_ntz2" class="form__btn template-btn noselect" type="button"
						onclick="addOrder2('FormNTZ')">
						<span>Оплатить</span>
					</button>

					<p class="form__personal">Нажимая кнопку “Оплатить”, вы соглашаетесь c политикой конфиденциальности
						и даёте согласие на обработку персональных
						данных</p>

					{% if lead_promo %}
					<span class="form__control">Контрольное слово: {{lead_promo}}</span>
					{% end %}
				</div>
			</form>
		</div>

	</footer>
	<script src="js/jquery.min.js"></script>
	<script src="js/base.js"></script>
	<script src="js/api.js"></script>

</body>

</html>